@model Scaffold_CMS.Models.Dinosaur

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dinosaur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diet" class="control-label"></label>
                <input asp-for="Diet" class="form-control" />
                <span asp-validation-for="Diet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DinoProfile" class="control-label"></label>
                <input asp-for="DinoProfile" class="form-control" />
                <span asp-validation-for="DinoProfile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackLimits" class="control-label"></label>
                <input asp-for="PackLimits" class="form-control" />
                <span asp-validation-for="PackLimits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Additionalinfo" class="control-label"></label>
                <input asp-for="Additionalinfo" class="form-control" />
                <span asp-validation-for="Additionalinfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
