@{
    ViewData["Title"] = "Home Page";
}
<title>Prehistoric Realism</title>
<div class="text-center">
    <h1 class="display-4">Welcome To Prehistoric Realism Official</h1>
    <p>Website is a work in progress :D</p>
</div>
